@import "ui-variables-custom.less"; // import colors and custom variables

// ONE dark UI variables
// ----------------------------------------------

// Official variables
// These variables must be defined in every theme
// Source: https://github.com/atom/atom/blob/master/static/variables/ui-variables.less
// ----------------------------------------------


// Text -----------------
@text-color:            @ui-fg;
@text-color-subtle:     fadeout(@text-color, 40%);
@text-color-highlight:  lighten(@text-color, 20%);
@text-color-selected:   white;

@text-color-info:    hsl(219,  79%, 66%);
@text-color-success: hsl(140,  44%, 62%);
@text-color-warning: hsl( 36,  60%, 72%);
@text-color-error:   hsl(  9, 100%, 64%);


// Background -----------------
@background-color-info:    hsl(208, 88%, 48%);
@background-color-success: hsl(132, 58%, 40%);
@background-color-warning: hsl( 42, 88%, 36%);
@background-color-error:   hsl(  5, 64%, 50%);

@background-color-highlight: lighten(@base-background-color, 4%);
@background-color-selected:  lighten(@base-background-color, 8%);

@app-background-color: @level-3-color;


// Base -----------------
@base-background-color: @ui-bg;
@base-border-color:     @ui-border;


// Components -----------------
@pane-item-background-color:       @base-background-color;
@pane-item-border-color:           @base-border-color;

@input-background-color:           darken(@base-background-color, 6%);
@input-border-color:               @base-border-color;

@tool-panel-background-color:      @level-3-color;
@tool-panel-border-color:          @base-border-color;

@inset-panel-background-color:     lighten(@level-2-color, 4%);
@inset-panel-border-color:         fadeout(@base-border-color, 15%);

@panel-heading-background-color:   @level-2-color;
@panel-heading-border-color:       @base-border-color;

@overlay-background-color:         @level-2-color;
@overlay-border-color:             @base-border-color;

@button-background-color:          @level-1-color;
@button-background-color-hover:    lighten(@button-background-color, 2%);
@button-background-color-selected: @accent-bg-color;
@button-border-color:              @base-border-color;

@tab-bar-background-color:         @level-3-color;
@tab-bar-border-color:             @base-border-color;
@tab-background-color:             @level-3-color;
@tab-background-color-active:      @level-2-color;
@tab-border-color:                 @base-border-color;

@tree-view-background-color:       @level-3-color;
@tree-view-border-color:           @base-border-color;

@ui-site-color-1: hsl(208, 100%, 50%); // blue
@ui-site-color-2: hsl(160,  70%, 42%); // green
@ui-site-color-3: hsl(32,   60%, 50%); // orange
@ui-site-color-4: #D831B0;             // pink
@ui-site-color-5: #EBDD5B;             // yellow


// Sizes -----------------
@font-size:               12px;
@input-font-size:         14px;
@disclosure-arrow-size:   12px;

@component-padding:       10px;
@component-icon-padding:  5px;
@component-icon-size:     16px; // needs to stay 16px to look sharpest
@component-line-height:   25px;
@component-border-radius: 3px;

@tab-height:              30px;


// Font -----------------
@font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;

@import "colors.less";

// Official Syntax Variables -----------------------------------

// General colors
@syntax-text-color:            @syntax-fg;
@syntax-cursor-color:          @syntax-accent;
@syntax-selection-color:       lighten(@syntax-background-color, 10%);
@syntax-selection-flash-color: @syntax-accent;
@syntax-background-color:      @syntax-bg;

// Guide colors
@syntax-wrap-guide-color:          @syntax-guide;
@syntax-indent-guide-color:        @syntax-guide;
@syntax-invisible-character-color: @syntax-guide;

// For find and replace markers
@syntax-result-marker-color:          fade(@syntax-accent, 24%);
@syntax-result-marker-color-selected: @syntax-accent;

// Gutter colors
@syntax-gutter-text-color:                @syntax-gutter;
@syntax-gutter-text-color-selected:       @syntax-fg;
@syntax-gutter-background-color:          @syntax-bg; // unused
@syntax-gutter-background-color-selected: lighten(@syntax-bg, 2%);

// Git colors - For git diff info. i.e. in the gutter
@syntax-color-renamed:  hsl(208, 100%, 60%);
@syntax-color-added:    hsl(150,  60%, 54%);
@syntax-color-modified: hsl(40,   60%, 70%);
@syntax-color-removed:  hsl(0,    70%, 60%);

// For language entity colors
@syntax-color-variable:   @hue-5;
@syntax-color-constant:   @hue-6;
@syntax-color-property:   @syntax-fg;
@syntax-color-value:      @syntax-fg;
@syntax-color-function:   @hue-2;
@syntax-color-method:     @hue-2;
@syntax-color-class:      @hue-6-2;
@syntax-color-keyword:    @hue-3;
@syntax-color-tag:        @hue-5;
@syntax-color-attribute:  @hue-6;
@syntax-color-import:     @hue-3;
@syntax-color-snippet:    @hue-4;


// Custom Syntax Variables -----------------------------------
// Don't use in packages

@syntax-cursor-line: hsla(@syntax-hue, 100%,  80%, .04); // needs to be semi-transparent to show search results

@syntax-deprecated-fg: darken(@syntax-color-modified, 50%);
@syntax-deprecated-bg: @syntax-color-modified;
@syntax-illegal-fg:    white;
@syntax-illegal-bg:    @syntax-color-removed;

@import ui-variables
@text-color
@text-color-subtle
@text-color-highlight
@text-color-selected
@text-color-info
@text-color-success
@text-color-warning
@text-color-error
@background-color-info
@background-color-success
@background-color-warning
@background-color-error
@background-color-highlight
@background-color-selected
@app-background-color
@base-background-color
@base-border-color
@pane-item-background-color
@pane-item-border-color
@input-background-color
@input-border-color
@tool-panel-background-color
@tool-panel-border-color
@inset-panel-background-color
@inset-panel-border-color
@panel-heading-background-color
@panel-heading-border-color
@overlay-background-color
@overlay-border-color
@ui-site-color-1
@ui-site-color-2
@ui-site-color-3
@ui-site-color-4
@ui-site-color-5
@disclosure-arrow-size
@component-padding
@component-icon-padding
@component-icon-size
@component-line-height
@tab-height
@font-size
@component-border-radius
@font-family
